# Iris Dataset - Decision Tree (Classification)
[Source](https://github.com/aadhiseshannsut/Sem5-ML-lab/tree/main/Decision%20Tree)
***

# Data
***

## Features

1. **Sepal Length** (`sepal_length`):
   - **Description**: The length of the sepal in centimeters.
   - **Type**: Continuous numerical value.
   - **Units**: Centimeters.

2. **Sepal Width** (`sepal_width`):
   - **Description**: The width of the sepal in centimeters.
   - **Type**: Continuous numerical value.
   - **Units**: Centimeters.

3. **Petal Length** (`petal_length`):
   - **Description**: The length of the petal in centimeters.
   - **Type**: Continuous numerical value.
   - **Units**: Centimeters.

4. **Petal Width** (`petal_width`):
   - **Description**: The width of the petal in centimeters.
   - **Type**: Continuous numerical value.
   - **Units**: Centimeters.

## Target (Class Label)

- **Species** (`species`):
   - **Description**: The species of the iris flower.
   - **Type**: Categorical.
   - **Categories**:
      1. *Iris-setosa*
      2. *Iris-versicolor*
      3. *Iris-virginica*

# Evaluation Criteria
***

`Accuracy Score`, `F1 Score`, `Precision Score`, and `Recall Score` were used to evaluate the model.

# Importing necessary libraries

In [1]:
# Data
from sklearn.datasets import load_iris

# EDA
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# Model
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

# Evaluation
from sklearn.model_selection import cross_val_score
from sklearn.metrics import make_scorer, accuracy_score, f1_score, precision_score, recall_score

# Loading the data

In [2]:
iris_dataset = load_iris()
df = pd.DataFrame(data=iris_dataset['data'], columns=iris_dataset['feature_names'])
df['target'] = iris_dataset['target']

In [3]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
sepal length (cm),5.1,4.9,4.7,4.6,5.0,5.4,4.6,5.0,4.4,4.9,...,6.7,6.9,5.8,6.8,6.7,6.7,6.3,6.5,6.2,5.9
sepal width (cm),3.5,3.0,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,...,3.1,3.1,2.7,3.2,3.3,3.0,2.5,3.0,3.4,3.0
petal length (cm),1.4,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,...,5.6,5.1,5.1,5.9,5.7,5.2,5.0,5.2,5.4,5.1
petal width (cm),0.2,0.2,0.2,0.2,0.2,0.4,0.3,0.2,0.2,0.1,...,2.4,2.3,1.9,2.3,2.5,2.3,1.9,2.0,2.3,1.8
target,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0

In [4]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   target             150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

**Observations:**
* There is no missing data.
* All data is numeric.

# Splitting the data

In [6]:
X, y = df.drop('target', axis=1), df['target']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

# Model

In [7]:
clf = DecisionTreeClassifier(random_state=42)
clf.fit(X_train, y_train);
print(f"Test Score = {clf.score(X_test, y_test)}, Training Score = {clf.score(X_train, y_train)}")

Test Score = 1.0, Training Score = 1.0

**Observations:**
The model is overfitting the training data.

# Hyperparameter Tuning

**We will only be adjusting the `max_depth` parameter to make the model less complex.**

In [8]:
clf = DecisionTreeClassifier(max_depth=2, random_state=42)
clf.fit(X_train, y_train);
print(f"Test Score = {clf.score(X_test, y_test)}, Training Score = {clf.score(X_train, y_train)}")

Test Score = 0.9736842105263158, Training Score = 0.9464285714285714

**Observations:**
* The model is now able to generalize better.

# Evaluation

In [9]:
%%time
np.random.seed(42)
clf_accuracy = cross_val_score(
    clf,
    X,
    y,
    scoring='accuracy',
    cv=3,
    n_jobs=-1
)

clf_f1_score = cross_val_score(
    clf,
    X,
    y,
    scoring=make_scorer(f1_score, average='macro'),
    cv=3,
    n_jobs=-1
)

clf_precision_score = cross_val_score(
    clf,
    X,
    y,
    scoring=make_scorer(precision_score, average='macro'),
    cv=3,
    n_jobs=-1
)

clf_recall_score = cross_val_score(
    clf,
    X,
    y,
    scoring=make_scorer(recall_score, average='macro'),
    cv=3,
    n_jobs=-1
)

CPU times: user 74.9 ms, sys: 164 ms, total: 239 ms
Wall time: 3.25 s

In [10]:
scores = {
    "Accuracy": clf_accuracy,
    "F1 Score": clf_f1_score,
    "Precision": clf_precision_score,
    "Recall": clf_recall_score
}

In [11]:
scores = pd.DataFrame(scores)

In [12]:
scores

   Accuracy  F1 Score  Precision    Recall
0      0.96  0.959559   0.959559  0.959559
1      0.92  0.919118   0.919118  0.919118
2      0.92  0.921569   0.921569  0.921569

# Summary
***

The Decision Tree Classifier demonstrates good performance when predicting classes from the Iris Dataset.

**End**